
VBox {
    -fx-padding: 10;
    -fx-border-radius: 5;
    -fx-spacing: 5;
}

HBox {
    -fx-spacing: 10;
}

.options {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.bottom {
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-alignment: center;
}

.button {
    -fx-cursor: hand;
    -fx-pref-width: 85px;
}