.root {
    -fx-font-family: 'Comic Sans MS', cursive, sans-serif;
    -fx-background-color: #f8f8f8;
}

VBox {
    -fx-padding: 10;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 10, 0, 0, 0);
}

HBox {
    -fx-spacing: 10;
}

.text-field {
    -fx-border-color: #20B2AA;
    -fx-background-color: #E0FFFF;
    -fx-border-radius: 5px;
    -fx-max-width: 90px;
    -fx-text-fill: #A52A2A;
}

.options {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: #FF69B4;
    -fx-text-fill: #FFF8DC;
    -fx-font-size: 16px;
    -fx-border-radius: 10px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #FFB6C1;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.label {
    -fx-text-fill: #008B8B;
}

.radio-button {
    -fx-text-fill: #8A2BE2;
}

.radio-button .radio {
    -fx-padding: 2px;
    -fx-background-color: #7FFFD4;
}

.radio-button:selected .radio {
    -fx-background-color: #32CD32;
}

.radio-button .text {
    -fx-fill: #DC143C;
}
.bottom {
    -fx-background-color: #FFFACD;
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-alignment: center;
}
