.root {
    -fx-font-family: Arial, sans-serif;
}

VBox {
    -fx-background-color: #f8f8f8;
    -fx-border-radius: 5;
    -fx-padding: 10;
    -fx-spacing: 5;
}

HBox {
    /*-fx-spacing: 10;*/
    /*-fx-padding: 10;*/
}

.text-field {
    -fx-padding: 5;
    -fx-border-radius: 5;
    -fx-max-width: 100px;
}

.options {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: #484fa0;
    -fx-text-fill: white;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #3b428f;
}

.radio-button {
    -fx-spacing: 10;
}
